@media screen and (min-width: 704px) {

#fullpage { max-width: 100%; margin: 0 auto;}

li {
	display: inline;
	text-align: right;
 }

/*Etusivun otsikko*/
#main-header {font-size: 55px;}

/*Hakupalkki*/
#basic-search {width: 45%; }

.yhteysbtn {
	margin: 5px;
	font-size: 20px;
}

}
