/* Tällä keskitetään koko sivun sisältö */
#fullpage { max-width: 63em; margin: auto;}

body {
  background-color: #d9ffcc;
}

li {
	display: inline;
	text-align: right;
 }

.navigation {
  /* Tärkeät tyylit; määrittää paikoituksen ja koon */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 37;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.mobnavi {
 display: block;
}

.mobnav-item a, button{
 display: inline-block;
 padding: 0.4em;
 background: black;
 color: White;
 font-size: 1em;
 text-decoration: none;
 transition: color 0.2s, background 0.5s;
}

.bignavi {
  display: none;
}

h1, h2, h3, h4, ul, li {
	font-weight: bold;
	margin: 0px 0;
	font-family: 'Montserrat', sans-serif;
}
/*headeriin kuuluu navigointi ja login-button*/
header {
  padding: 0;
	width: 100%;
	text-align: left;
	z-index: 5;
	background-color: #6d8f3d;
}

/*pääotsikko, "Vulkanuksen kuvapankki"*/
#main-header {font-size: 20px; padding:0.2em;}

#basic-search {width: 70%;}

.main-search {
	/*Hakulomakkeen div, muotoilua varten*/
  width: 100%;
  height: 100%;
  background: #298;
  text-align: center;
  padding: 0.5em;

}

/*kuvien listaus ja asettelu*/
#image-view {
  display: inline-block;
  text-align: center;
  margin: 1em;
}
#image-view img {
    max-width: 50%;
    padding: 3px;
}

/*login napin muotoilu ja asettelu*/
#login-button {
  position: absolute;
  top: 2.5px;
  right: 2px;
  color: white;
  background-color: #111;
  border-color: #111;
  font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.contact-info {
  background: #d9ffcc;
  text-align: center;
  padding: 1em;
  font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#hlö {
	position: center;
	padding: 0.8em;
}

/*Login-ikkunan muotoilu ja asettelu. Oletuksena piilotettu,
  mutta näkyvillä kehitystä varten*/
#login-window {
  position: absolute;
  top: 30px;
  right: 4px;
  color: white;
  background-color: #111;
  padding: 1em;
  border-style: solid;
  border-width: medium;
  border-color: red;
  z-index: 999; /* Päälimmäiseks */
}
