
/* Tällä keskitetään koko sivun sisältö */
#fullpage {
  max-width: 63em;
  margin: 0 auto;
}

#page-cover {
  display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
}

body {
  background-color: #FFA98D;
}

li {
	display: inline;
	text-align: right;
 }

h1, h2, h3, h4, ul, li {
	font-weight: bold;
	margin: 0px 0;
	font-family: 'Montserrat', sans-serif;
}
/*headeriin kuuluu navigointi ja login-button*/
header, header button, header input{
  padding: 0;
	width: 100%;
	text-align: left;
	z-index: 5;
	background-color: #8F2908;
}

/*pääotsikko, "Vulkanuksen kuvapankki"*/
#main-header {font-size: 20px; padding:0.2em;}

	/*Hakulomakkeen div, muotoilua varten*/
#searchInput {
  width: 100%;
  height: 120px;
  background: #BA422D;
  text-align: center;
  padding: 20px 0px 20px 0px;
  font-size: 24px;
}

#searchInput h1 {
    margin: 20px 20px 20px 20px;
    color: white;
}

input#search {
    padding: 5px 40px;
    border-radius: 60px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
}

.contact-info {
  text-align: center;
  padding: 0.1em;
  font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}

#hlö {
	position: center;
	padding: 0.8em;
}

/*Menun tyylit alkaa tästä*/
.dropbtn {
    /*background-color: #e02908;*/
    color: white;
    padding: 10px;
    font-size: 26px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #bc2307;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: Arial, Helvetica, sans-serif;
  	font-weight: bold;
  	display: none;
    position: absolute;
    background-color: #8F2908;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #bc2307;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.show {display:block;}
/*
.login-page {
  background: #d9ffcc;
  text-align: center;
  padding: 1em;
  font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}*/

/*Login-ikkunan muotoilu ja asettelu. Oletuksena piilotettu,
  mutta näkyvillä kehitystä varten*/

#login-header {font-size: 17px; padding:0.2em;}

.login-bg {
  	/*Hakulomakkeen div, muotoilua varten*/
    width: 100%;
    height: 100%;
    background-color: #8F2908;
    text-align: center;
    padding: 0.5em 0em;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
}

.login-bg button{
  border-radius: 40px;
  padding: 2px 25px;
  background-color: #8F2908;
}

#login-window {
  width: 250px;
  max-width: 250px;
  position: absolute;
  top: 49px;
  right: 5px;
  color: #fff;
  padding: 0.1em;
  z-index: 999; /* Päälimmäiseks */
}

#loginButton {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  width: 120px;
  max-width: 259px;
  top: 0px;
  right: 6px;
  color: white;
  font-size: 26px;
  border: none;
  cursor: pointer;
  padding: 10px;

  color: white;
  /*background-color: #e02908;*/
  border: none;
  z-index: 999; /* Päälimmäiseks */
}

#loginButton:hover, #loginButton:focus {
    background-color: #bc2307;
}

.loginfield {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.yhteysbtn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 20px;
}
.yhteysbtn:hover{
  background-color: gray;
}

#image-gallery {
  text-align: center;
}

/*Thumbnailien tyylit */
.repeatedthumbnail {
  cursor: pointer;
}

.repeatedthumbnail img {
  width: 150px;
  height: 150px;
}

.repeatedthumbnail:active img {
   opacity: 0.5;
}

.repeatedthumbnail:hover img {
   box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
} /* nailit loppuu */

/* Esikatselun ja currentimagen tyylit */

.currentimage {
  text-align: center;
  cursor: pointer;
}

.currentimage img {
  padding: 1px;
}

/* Esikatselun sulkemisen nappi */
#imagehidebtn {
  background-color: black;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 1em;

  /* Asettelu */
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99999;
  cursor: pointer;
}
#imagehidebtn:hover {
  background-color: gray;
} /* ESIKATSELU LOPPUU */

/* ADMINPAGE MUOTOILU */

#previewcontrol {
 padding: 1em;
 text-align: center;
 word-wrap: break-word;
 font-family: Arial, Helvetica, sans-serif;
}

#previewcontrol input {
 padding: 0.5em;
 font-family: Arial, Helvetica, sans-serif;
 font-weight: bold;
 color: white;
 background-color: #000;
 border: none;
 border-radius: 10px;
}

#uploadbtn {
  font-size: 20px;
}
#uploadbtn:hover {
  background-color: #424242;
}
#uploadbtn:active {
  opacity: 0.5;
}

#previewcontrol h2{
 padding: 1em;
 text-align: center;
}

#previewcontrol p {
  color: #424242;
  font-weight: bold;
  font-size: 32px;
  text-shadow: 0 0 3px #fff, 0 0 5px black;
}

#fileDescription {
  font-family: Arial, Helvetica, sans-serif;
  width: 240px;
  max-width: 240px;
  min-width: 150px;
  height: 150px;
  max-height: 170px;
}

/* ADMINPAGE MUOTOILU LOPPUU */

/*estetään ettei html näy ennen angularin latautumista*/
[ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
}
