
/* Tällä keskitetään koko sivun sisältö */
#fullpage { max-width: 63em; margin: 0 auto;}

body {
  background-color: #d9ffcc;
}

li {
	display: inline;
	text-align: right;
 }

h1, h2, h3, h4, ul, li {
	font-weight: bold;
	margin: 0px 0;
	font-family: 'Montserrat', sans-serif;
}
/*headeriin kuuluu navigointi ja login-button*/
header {
  padding: 0;
	width: 100%;
	text-align: left;
	z-index: 5;
	background-color: #6d8f3d;
}

#searchInput {
  width: 100%;
  height: 100%;
  background: #ad3b53;
  text-align: center;
  padding: 0.5em 0em;
  font-size: 24px;
  margin-bottom: 5px;
}

input#search {
    padding: 5px 40px;
    border-radius: 60px;
    display: block;
    margin: 0 auto;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
}



/*login napin muotoilu ja asettelu*/

.contact-info {
  background: #d9ffcc;
  text-align: center;
  padding: 1em;
  font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#hlö {
	position: center;
	padding: 0.8em;
}

.login-page {
  background: #d9ffcc;
  text-align: center;
  padding: 1em;
  font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

/*Login-ikkunan muotoilu ja asettelu. Oletuksena piilotettu,
  mutta näkyvillä kehitystä varten*/
#login-window {
  width: 250px;
  max-width: 250px;
  position: absolute;
  top: 32px;
  right: 6px;
  color: #e02908;
  background-color: white;
  padding: 0.1em;
  border-style: solid;
  border-width: medium;
  border-color: red;
  z-index: 999; /* Päälimmäiseks */
}

/*Menun tyylit alkaa tästä*/
.dropbtn {
    background-color: #e02908;
    color: white;
    padding: 10px;
    font-size: 26px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #bc2307;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #e02908;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #e02908;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.show {display:block;}

#loginButton{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  width: 259px;
  max-width: 259px;
  top: 4px;
  right: 6px;

  color: white;
  background-color: #e02908;
  padding: 0.1em;
  border: none;
  z-index: 999; /* Päälimmäiseks */
}

.loginfield {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

#image-gallery {
  text-align: center;
}

.repeatedthumbnail {
  cursor: pointer;
}

.repeatedthumbnail img {
  padding: 1em;
  width: 150px;
  height: 150px;
}

.currentimage {
  text-align: center;
  cursor: pointer;
}

.currentimage img {
  padding: 2em;
  max-width: 80%;
}

/*estetään ettei html näy ennen angularin latautumista*/
[ng\:cloak], [ng-cloak], .ng-cloak {
      display: none;
}
