
/* Tällä keskitetään koko sivun sisältö */
#fullpage { max-width: 63em; margin: 0 auto;}

body {
  background-color: #d9ffcc;
}

li {
	display: inline;
	text-align: right;
 }

.navigation {
  /* Tärkeät tyylit; määrittää paikoituksen ja koon */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 37;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.mobnavi {
 display: block;
}

.mobnav-item a, button{
 display: inline-block;
 padding: 0.4em;
 background: black;
 color: White;
 font-size: 1em;
 text-decoration: none;
 transition: color 0.2s, background 0.5s;
}

.bignavi {
  display: none;
}

h1, h2, h3, h4, ul, li {
	font-weight: bold;
	margin: 0px 0;
	font-family: 'Montserrat', sans-serif;
}
/*headeriin kuuluu navigointi ja login-button*/
header {
  padding: 0;
	width: 100%;
	text-align: left;
	z-index: 5;
	background-color: #6d8f3d;
}

/*pääotsikko, "Vulkanuksen kuvapankki"*/
#main-header {font-size: 20px; padding:0.2em;}

#basic-search {width: 70%;}

.main-search {
	/*Hakulomakkeen div, muotoilua varten*/
  width: 100%;
  height: 100%;
  background: #298;
  text-align: center;
  padding: 0.5em 0em;

}

/*login napin muotoilu ja asettelu*/

.contact-info {
  background: #d9ffcc;
  text-align: center;
  padding: 1em;
  font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#hlö {
	position: center;
	padding: 0.8em;
}

.login-page {
  background: #d9ffcc;
  text-align: center;
  padding: 1em;
  font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

/*Login-ikkunan muotoilu ja asettelu. Oletuksena piilotettu,
  mutta näkyvillä kehitystä varten*/
#login-window {
  width: 250px;
  max-width: 250px;
  position: absolute;
  top: 32px;
  right: 6px;
  color: #e02908;
  background-color: white;
  padding: 0.1em;
  border-style: solid;
  border-width: medium;
  border-color: red;
  z-index: 999; /* Päälimmäiseks */
}

/*Menun tyylit alkaa tästä*/
.dropbtn {
    background-color: #e02908;
    color: white;
    padding: 10px;
    font-size: 26px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #bc2307;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #e02908;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
  background-color: #e02908;
   color:white;
   font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.show {display:block;}

#loginButton{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
  width: 259px;
  max-width: 259px;
  top: 4px;
  right: 6px;
  color: #e02908;
  background-color: white;
  padding: 0.1em;
  border-style: solid;
  border-width: medium;
  border-color: red;
  z-index: 999; /* Päälimmäiseks */
}

#image-gallery {
  text-align: center;
}

.repeatedthumbnail {
  cursor: pointer;
}

.repeatedthumbnail img {
  padding: 1em;
  width: 150px;
  height: 150px;
}

.currentimage {
  text-align: center;
  cursor: pointer;
}

.currentimage img {
  padding: 2em;
  max-width: 80%;
}
