<div class="login-bg">
<h1 id="login-header">Kirjauduthan sisään, kiitos</h1>
<br>
<div id="login-page" ng-controller="LoginView">
<form action="/" id="login">
		<input id="login-name" class="loginfield" type="text" name="username" ng-model="username" placeholder="Tunnus"/><br><br>
		<input id="login-pass" class="loginfield" type="password" name="password" ng-model="password" placeholder="Salasana"/><br><br>
		<button type="button" class="dropbtn" ng-click="submit()">Kirjaudu</button>
</form>
</div>
</div>
